* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  padding: 10px 10px;
  color: #0056b3;
  border-bottom: 2px solid;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  color: #0056b3;
  font-weight: bolder;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.header_input {
  width: 450px;
  padding: 5px;
  border: 2px solid #0056b3;
  border-radius: 4px;
  /* margin-right: 10px; */
  background-color: beige;
}

button.searchButton {
  color: #0056b3;
  border: 2px solid #0056b3;
  font-weight: bolder;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.userIcon {
  font-size: 34px;
  cursor: pointer;
  color: #0056b3;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: 10px;
  border: 1px solid #7e7676;
  border-radius: 4px;
  box-shadow: 0 2px 4px #0056b3;
  font-weight: bolder;
  background-color: beige;
  z-index: 555;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 20px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
@media (max-width: 1000px) {
  .logo {
    font-size: 45px;
  }

  button.searchButton {
    display: none;
  }
}

@media (max-width: 775px) {
  .logo {
    font-size: 35px;
  }
  input[type="text"] {
    width: 380px;
    padding: 5px;
    border: 2px solid #0056b3;
    border-radius: 4px;
    margin-right: 10px;
    background-color: beige;
  }
}

@media (max-width: 670px) {
  .logo {
    font-size: 30px;
  }
  input[type="text"] {
    width: 300px;
    padding: 5px;
    border: 2px solid #0056b3;
    border-radius: 4px;
    margin-right: 10px;
    background-color: beige;
  }
}
@media (max-width: 600px) {
  input[type="text"] {
    width: 280px;
  }
}
@media (max-width: 561px) {
  input[type="text"] {
    width: 250px;
  }
}
@media (max-width: 522px) {
  input[type="text"] {
    width: 230px;
  }
}

@media (max-width: 428px) {
  .userIcon {
    font-size: 25px;
  }
  .header {
    padding: 10px 10px;
  }
  input[type="text"] {
    width: 220px;
    margin: 0;
  }
}

@media (max-width: 422px) {
  .userIcon {
    font-size: 25px;
  }
  input[type="text"] {
    width: 220px;
    margin: 0;
  }
}
@media (max-width: 351px) {
  .userIcon {
    font-size: 25px;
  }
  input[type="text"] {
    width: 210px;
    margin: 0;
  }
}

@media (max-width: 382px) {
  .userIcon {
    font-size: 25px;
  }
  input[type="text"] {
    width: 180px;
    margin: 0;
  }
}
@media (max-width: 345px) {
  input[type="text"] {
    width: 160px;
    margin: 0;
  }
}
