.main {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  background-color: beige;
}
.changeStatusBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid #0056b3;
  padding-left: 70px;
  gap: 40px;
}
.createBask,
.taskstatus {
  width: 250px;
  height: 30px;
  border: 2px solid #0056b3;
  border-radius: 4px;
  font-weight: bolder;
  color: #0056b3;
  cursor: pointer;
}
